Pinging @elastic/es-distributed-coordination (Team:Distributed Coordination)

> http/2 requests relayed by the Cloud proxy (and converted to http/1)

I think there's a problem here, the request from the client has no content (whether HTTP/1.1 or HTTP/2) but the request that Elasticsearch sees apparently does. These two things are semantically different in HTTP, but it looks like the proxy is converting "no content" to "empty content". I suspect the proxy might be adding a spurious `Transfer-encoding: chunked` header to the proxied request, which indicates that it does have content (even if it turns out to be zero bytes long).

In compatibility mode a request with content, whether empty or otherwise, requires a `Content-Type` header to go alongside its `Accept` header.

> Many users and client libraries will not add a `Content-Type` to an empty request.

Subtle but important distinction: libraries should not add a `Content-type` header to a request with no content, because this would change it into a request with (empty) content. But libraries should specify the `Content-type` of a request with content, even if empty.

See for instance [RFC 9110 § 8.6 paragraph 5](https://www.rfc-editor.org/rfc/rfc9110.html#section-8.6-5):

> A user agent SHOULD send Content-Length in a request when the method defines a meaning for enclosed content and it is not sending Transfer-Encoding. For example, a user agent normally sends Content-Length in a POST request even when the value is 0 (indicating empty content). A user agent SHOULD NOT send a Content-Length header field when the request message does not contain content and the method semantics do not anticipate such data.

I agree with David's comment. It does look like proxy sets `Transfer-encoding: chunked` on request with no content, knowingly.  It is unnecessary and complicates downstream. `Transfer-encoding: chunked` means content size is unknown, can be 0 or more. Since it can be more than 0 we expect `Content-Type`. I believe we need to address this in proxy.

Linked PR https://github.com/elastic/elasticsearch/pull/129302 addresses uncontrolled memory usage during reading content, by deferring content processing to the RestHandler's world. That means we can tell if there is content either by looking at Content-Length or Transfer-Encoding. 

> These two things are semantically different in HTTP, but it looks like the proxy is converting "no content" to "empty content".

More precisely, in HTTP/2 a request with no content comprises just a `HEADERS` frame with both the `END_HEADERS` and `END_STREAM` bits set, and that's what we see on the wire:

<img width="821" height="458" alt="Image" src="https://github.com/user-attachments/assets/826b2e44-e2dd-4c4c-b17d-88d44e42d11a" />

In contrast, a request with empty content has a `HEADERS` frame with `END_HEADERS` set, followed by an empty `DATA` frame with the `END_STREAM` bit:

<img width="573" height="719" alt="Image" src="https://github.com/user-attachments/assets/6c54a6a3-8d81-45f7-815c-98868a14712e" />

