Elasticsearch accepts invalid utf-8 text

You can index a document with invalid utf-8, for example using just a single surrogate code point:

```
curl -X PUT localhost:9200/i/t/42 -d '{"title": "\udb15"}'
```

And Elasticsearch will accept it, index it and return it via GET. This is undesirable behavior since it can make Elasticsearch return invalid bodies, throwing some clients off.


@clintongormley   can u please tell me how to complete rest of this bug (It says 2 out of 6 completed,can u give any pointers)

Hi, I'm new to this project and wanted to contribute, is this still available to fix?

Greetings, I am getting familiar with the code base and would like to contribute to this bug fix. 

My plan is to a check on the content body of request in the method "handleRequest" of class "org.elasticsearch.rest.BaseRestHandler" regarding whether the byte array can be encoded into the utf8 character set properly. 

Please let me know if you have any comment on the plan or the issue has been resolved by anyone else. 

That sounds like a very expensive thing to do on every request.

Or only verify the input in the method "prepareRequest" of class "org.elasticsearch.rest.action.document.RestIndexAction"?

I'm not sure this is actually a problem with the REST layer. At least, it doesn't have to be. One way to fix this is to add the validity assertions to the places where they are needed. Like, we could assert valid utf-8 as we parse the `_source`. In most other cases I think invalid utf-8 is just going to result in a parse error anyway because the field won't be recognized. I suppose for things like script parameters it *might* make it through and be useless.

I'm not super sure how useful this is to do on our side. I mean, it is certainly confusing on the client side to get things back you can't parse, especially if you didn't produce the invalid utf-8 in the first place. Which makes me think that maybe this is more important for things like settings values and `_source` but not something we need to do on every request with a body.

[RFC 7159 section 8.2](https://tools.ietf.org/html/rfc7159#section-8.2) says:

> However, the ABNF in this specification allows member names and string values to contain bit sequences that cannot encode Unicode characters; for example, "\uDEAD" (a single unpaired UTF-16 surrogate).  Instances of this have been observed, for example, when a library truncates a UTF-16 string without checking whether the truncation split a surrogate pair.  The behavior of software that receives JSON texts containing such values is unpredictable; for example, implementations might return different values for the length of a string value or even suffer fatal runtime exceptions.

The right thing to do here is undefined, but I'm inclined to think that accepting it is best. One possible reason to support this is that Windows pathnames are allowed to include unpaired surrogates, so rejecting them could trip up anyone who is trying to store Windows pathnames in Elasticsearch, e.g. for security audit purposes.

Accepting it is [what Jackson does](http://seriot.ch/json/parsing.html#22) which is why Elasticsearch does so, and adding extra restrictions would be painful.

Yeah. In this case I'm going to close as "won'tfix" with the guidance: "don't put invalid utf-8 in the index if you can't handle it".