Mandatory `Date` header is absent in HTTP responses

[RFC 9110 § 6.6.1](https://httpwg.org/specs/rfc9110.html#field.date) says:

> An origin server with a clock (as defined in [Section 5.6.7](https://httpwg.org/specs/rfc9110.html#http.date)) MUST generate a Date header field in all [2xx (Successful)](https://httpwg.org/specs/rfc9110.html#status.2xx), [3xx (Redirection)](https://httpwg.org/specs/rfc9110.html#status.3xx), and [4xx (Client Error)](https://httpwg.org/specs/rfc9110.html#status.4xx) responses, and MAY generate a Date header field in [1xx (Informational)](https://httpwg.org/specs/rfc9110.html#status.1xx) and [5xx (Server Error)](https://httpwg.org/specs/rfc9110.html#status.5xx) responses.

[RFC 9110 § 5.6.7](https://httpwg.org/specs/rfc9110.html#http.date) says:

> A clock is an implementation capable of providing a reasonable approximation of the current instant in UTC.

Given all the things that Elasticsearch does with real wall-clock time, it's hard to claim that an Elasticsearch node is anything other than an "origin server with a clock" as defined here, and thus we should be emitting a `Date` header on most responses. But today we don't:

```
$ curl --head --user 'elastic-admin:elastic-password' 'http://localhost:9200/'
HTTP/1.1 200 OK
X-elastic-product: Elasticsearch
content-type: application/json
content-length: 532
```

Pinging @elastic/es-core-infra (Team:Core/Infra)