IPV6 pattern for Grok is wrong

### Elasticsearch Version

8.11.0

### Installed Plugins

_No response_

### Java Version

_bundled_

### OS Version

Ubuntu 20.04

### Problem Description

Grok pattern for ipv6 is:
IPV6 ((([0-9A-Fa-f]{1,4}:){7}([0-9A-Fa-f]{1,4}|:))|(([0-9A-Fa-f]{1,4}:){6}(:[0-9A-Fa-f]{1,4}|((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3})|:))|(([0-9A-Fa-f]{1,4}:){5}(((:[0-9A-Fa-f]{1,4}){1,2})|:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3})|:))|(([0-9A-Fa-f]{1,4}:){4}(((:[0-9A-Fa-f]{1,4}){1,3})|((:[0-9A-Fa-f]{1,4})?:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){3}(((:[0-9A-Fa-f]{1,4}){1,4})|((:[0-9A-Fa-f]{1,4}){0,2}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){2}(((:[0-9A-Fa-f]{1,4}){1,5})|((:[0-9A-Fa-f]{1,4}){0,3}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){1}(((:[0-9A-Fa-f]{1,4}){1,6})|((:[0-9A-Fa-f]{1,4}){0,4}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(:(((:[0-9A-Fa-f]{1,4}){1,7})|((:[0-9A-Fa-f]{1,4}){0,5}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:)))(%.+)?

Which is wrong - last group (%.+) allows it to write anything after %.

### Steps to Reproduce

We can reproduce it in Dev Tools -> Grok debugger or in Logstash:
```
input {
    generator {
        lines => ["fe80::48a6:3fe8:4956:248c%HackedGrok?"]
    count => 1
    }
}

filter {
    grok {
        match => { "message" => "%{IPV6:ip}" }
    }
}

output {
    stdout {}
}
``` 



It will output:
`"ip" => "fe80::48a6:3fe8:4956:248c%HackedGrok?",` which is not valid ipv6

### Logs (if relevant)

_No response_

There seem to be no meaningful restrictions on the format of the `zone_id` which follows the `%` delimiter, so
`fe80::48a6:3fe8:4956:248c%HackedGrok?` is a valid IPv6 literal. See [RFC 4007 section 11.2](https://datatracker.ietf.org/doc/html/rfc4007#section-11.2) for more details:

    An implementation MAY support other kinds of non-null strings as
    <zone_id>.  However, the strings must not conflict with the delimiter
    character.  The precise format and semantics of additional strings is
    implementation dependent.